
<body>
    
{% extends 'base.html' %}

{% block content %}

<h2>STAFF</h2>

        <form id="myform" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="select_class">
            <select class="form-control" id="subj" name="subj" required>
            <option value="Python" id="Python">Python</option>
            <option value="JQuery" id="JQuery">JQuery</option>
            <option value="HTML" id="HTML">HTML</option>
            </select>
            </div>
            <br>
            <div class="form-group">  
            <input type="text" class="form-control" id="question" placeholder="Add your questions" name="question">
            </div>
            <br>
            <div class="form-group">
            <textarea class="form-control" rows="5" id="answer" placeholder="Answer" name="answer"></textarea>
            </div>
            <div class="select_class">
            <select class="form-control" id="quetype" name="quetype" required>
            <option value="Easy" id="Easy">Easy</option>
            <option value="Medium" id="Medium">Medium</option>
            <option value="Hard" id="Hard">Hard</option>
            </select>
            </div>
            <br>
            <div class="col-sm-2">
            <input type="number" class="form-control" id="point" name="point" placeholder="Assign points">
            <br>
            <p id="submitButton" style="border:solid black 2px; background: grey" class="btn btn-secondary"> Submit</p>
            </div>
        </form>
<div id="output" class="container d-flex justify-content-between pt-1"></div>

</body>
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

  var csrftoken = $("[name=csrfmiddlewaretoken]").val();  
  var question = $('#question').val()
  var subj = $('select[name="subj"]').val()
  var quetype = $('select[name="quetype"]').val()
  var answer = $('#answer').val()
  var point = $('#point').val()

console.log("okay")

  $('#submitButton').click(function(){
    $.ajax({
        type: 'POST',
        url: '{% url "home1" %}',
        dataType:'json'
        data: {'question':question, 'subj':subj, 'answer':answer, 'quetype':quetype, 'point':point},
        headers:{"X-CSRFToken": csrftoken},
        success: function(data, textStatus, jqXHR) {
          $('#output').html(data);
          alert("success");
        }
      });
  });
});


</script>

{% endblock %}
{% endblock %}

<br><br>

</div>
</div>
</div>
</div>  
<footer class="container-fluid">
<p>Footer Text</p>
</footer>

</body>
</html>
