{% extends "base.html" %}


<body>
{% block content %}
<div class="container">
<h4>HTML</h4>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Subj</th>
        <th>Points</th>
        <th>Quetype</th>
      </tr>
    </thead>
   <tbody id="tableData"></tbody>
  </table>
</div>
<script type="text/javascript">
$(document).ready(function() {

    $.ajax({
        url: '{% url "App:html_view" %}',
        datatype: 'json',
        type: 'GET',
        success: function (data) {
            /*alert("Got data!")*/
            tableFromResponse(data);
        }
    });
});

function tableFromResponse(data) {

        var mainObj = data.results

        var k = '<tbody>'

        for(i = 0;i < mainObj.length; i++){

            k+= '<tr>';
            k+= '<td  width="20%">' + mainObj[i].question+ '</td>';
            k+= '<td>' + mainObj[i].answer + '</td>';
            k+= '<td>' + mainObj[i].subj + '</td>';
            k+= '<td>' + mainObj[i].point + '</td>';
            k+= '<td>' + mainObj[i].quetype + '</td>';
            k+= '</tr>';
        }
        k+='</tbody>';
        document.getElementById('tableData').innerHTML = k;
}

</script>
{% endblock %}
</body>