{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="" method="POST">

<h2>Working.....! </h2>

<p id="responsecontainer"></p>

</form>

<script type="text/javascript">
console.log("working...")
$(document).ready(function() {
    $.ajax({
        type: 'GET',
        url: '{% url "App:take-test" %}',
        datatype: 'json',
        success: function (data) {
            /*alert("Got data!")*/
            getStudent(data);
        }
    });
});

function getStudent(data){

var student = data.results
	$("#responsecontainer").val(data)

}

</script>


{% endblock %}