{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="" method="POST">

<h2>Working.....! </h2>

<p id="responsecontainer"></p>

</form>


<div class="col-sm-4">
<select class="form-control" id="sname" name="sname">
<option value="name" id="name">Name</option>

</select>
</div>

<script type="text/javascript">
console.log("working...")
$(document).ready(function() {
    $.ajax({
        url: '{% url "App:stu_detail" %}',
        datatype: 'json',
        type: 'GET',
        success: function (data) {
            alert("Got data!")
            getStudent(data);
        }
    });
});

function getStudent(data){
    var name = data;

    $('select[name="sname"]').val(name[0].name)

}

</script>


{% endblock %}