
<body>
    
{% extends 'base.html' %}

{% block content %}

        <form id="uform" method="POST">
            {% csrf_token %}
            <div class="form-group">  
            <input type="text" class="form-control" id="question" placeholder="Enter User Name" name="name">
            </div>
            <br>
            <br>
            <div class="col-sm-2">
            <br>
            <p id="addUButton" style="border:solid black 2px; background: grey" class="btn btn-secondary"> ADD USER</p>
            </div>
        </form>
</body>
{% block javascript %}
<script type="text/javascript">
var token = document.getElementsByName("csrfToken").value;
$('#addUButton').click(function(){
  var NameForm1 = $('#uform');
  $.ajax({
      type: 'POST',
      url: "{%url 'App:stud_view' %}",
      data: NameForm1.serialize(),
      dataType: 'json',
      headers: {
            'X-CSRF-Token': token 
       },
      success: function(data, textStatus, jqXHR) {
        $('#output').html(data); 
      }
    });
});

</script>

{% endblock %}
{% endblock %}

<br><br>

</div>
</div>
</div>
</div>  
<footer class="container-fluid">
<p>Footer Text</p>
</footer>

</body>
</html>
